@using ClientMDA.ViewModels
@model CPaymentAndMovieInfoViewModel
@{
    string title = $"{Model.MovieName電影名稱}({Model.MovieVersion電影版本})";
    string[] arr = Model.seatInfo座位資訊.Split('#');
    string Seatstring = "";
    foreach (string item in arr)
    {
        string[] arr_seat = item.Split(':');
        Seatstring += $"{arr_seat[0]}排{arr_seat[1]}列 | ";
    }
    decimal totalPrice = 0;
    foreach (var item in Model.Alltciket)
    {
        totalPrice += item.TicketPrice * item.TicketCount;
    }

    string[] tcikstArr = Model.ticketInfo訂票資訊.Split('#');
    string movieInfotext = Model.MovieInfo電影介紹;
    if(string.IsNullOrEmpty(movieInfotext))
    {
        movieInfotext = "無電影資訊";
    }
    if (movieInfotext.Length >= 200)
    {
        movieInfotext = movieInfotext.Remove(200);
    }
}
<head>
    <link rel="stylesheet" href="~/cyborg/css/fontawesome.css">
    <link rel="stylesheet" href="~/cyborg/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <style>
        .main-profile ul .seat {
            border-bottom: none;
        }

        .item {
            height: 400px;
        }

            .item img {
                height: 300px;
            }

        .pay {
            text-align: center;
        }

        body {
            background-color: #070720;
        }
    </style>
</head>

<div id="preloder">
    <div class="loader"></div>
</div>

<div class="pt-4">
    <div class="main-profile pt-4">
        <div class="row">
            <div class="col-lg-4">
                <img src="" alt="" style="border-radius: 23px;" />
            </div>
            <div class="col-lg-4 align-self-center">
                <div class="main-info header-text">
                    <h4>@title</h4>
                    <p>@movieInfotext</p>
                </div>
            </div>
            <div class="col-lg-4 align-self-center">
                <ul>
                    <li>影城名稱<span>@Model.theaterName電影院名稱</span></li>
                    <li>場次日期<span>@Model.Data日期</span></li>
                    <li>場次時間<span>@Model.Time時間</span></li>
                    <li>張數<span>@Model.count人數</span></li>
                    <li class="seat">座位<span>@Seatstring</span></li>
                    <li></li>
                    @{
                        foreach (var item in Model.Alltciket)
                        {
                            string PriceInfo = $"{item.TicketPrice.ToString("0.0#")}*{item.TicketCount}";
                            <li>@item.TicketName<span>@PriceInfo</span></li>
                        }
                    }
                    <li><span>需付價錢(未折扣) : @totalPrice.ToString("0.0#")</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="clips">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4>會員贈品</h4>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/images/Ticketing/f1.jpg" alt="" style="border-radius: 23px;">
                                </div>
                                <div class="down-content">
                                    <h4>First Clip</h4>
                                    <span><i class="fa fa-dollar"></i> 250</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/images/Ticketing/f2.jpg" alt="" style="border-radius: 23px;">
                                </div>
                                <div class="down-content">
                                    <h4>Second Clip</h4>
                                    <span><i class="fa fa-dollar"></i> 183</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/images/Ticketing/f3.jpg" alt="" style="border-radius: 23px;">
                                </div>
                                <div class="down-content">
                                    <h4>Third Clip</h4>
                                    <span><i class="fa fa-dollar"></i> 141</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/images/Ticketing/f4.jpg" alt="" style="border-radius: 23px;">
                                </div>
                                <div class="down-content">
                                    <h4>Fourth Clip</h4>
                                    <span><i class="fa fa-dollar"></i> 91</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pay">
            <div class="col-lg-12">
                <div class="main-button">
                    <form method="post" action="~/Ticketing/PaymentWeb2">
                        <input type="hidden" name="TicketInfo" id="TicketInfo" value="@Model.ticketInfo訂票資訊"/>
                        <input type="hidden" name="SeatInfo" id="SeatInfo" value="@Model.seatInfo座位資訊"/>
                        <input type="hidden" name="ScreenID" id="ScreenID" value="@Model.screenID場次ID"/>
                        <button class="btn-primary">前往付款</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    (function ($) {
        $(window).on('load', function () {
            $(".loader").fadeOut();
            $("#preloder").delay(20).fadeOut("slow");


        });
    })(jQuery);
</script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
