@using ClientMDA.ViewModels;
@model CSelectByMovieViewModel

@{
    DateTime today = DateTime.Now.Date;
    string delectors = "";
    string actor = "";



    foreach (var item in Model.Delectors)
    {
        delectors += $"{item} ";
    }

    foreach (var item in Model.Actors)
    {
        actor += $"{item} ";
    }
}

<link rel="stylesheet" href="~/cyborg/css/fontawesome.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<style>
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 15px;
        background: #0b0c2a;
        color: grey;
        display: inline;
        width: 100%;
        /*height: 100%;*/
        align-items: center;
        border-radius: 50%;
        border: 1px solid #0b0c2a;
    }

    .date:hover {
        background: #FF359A;
        color: whitesmoke;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

        .swiper-slide img:hover {
            border-width: 5px;
            border-color: royalblue;
        }

    .round {
        background: #6C6C6C;
        border-radius: 50%;
        border-width: 2px;
        border-color: #FF359A;
        cursor: pointer;
    }

    .select {
        background: #FF359A;
        border-radius: 50%;
        border-width: 2px;
        border-color: #FF359A;
        cursor: pointer;
    }

    .round .num {
        font-size: 110%;
        color: whitesmoke;
        align-items: center;
    }

    .MovieInfoBox {
        display: none;
    }

    .showMovieInfoBox {
        display: block;
    }

    .MovieInfoBox .grade {
        text-align: center;
        width: 50px;
        height: 20px;
        color: rgb(158, 158, 158);
        margin: 20px auto 20px;
        font-size: 0.75rem;
        line-height: 20px;
        border: 1px solid rgb(158, 158, 158);
        border-radius: 120px;
    }

    .MovieInfoBox .datebox {
        min-height: 30px;
        width: 100%;
        text-align: center;
    }

    .MovieInfoBox .staff {
        color: rgb(255, 255, 255);
        height: 30px;
        font-size: 0.8rem;
    }

    .MovieInfoBox .Infotext {
        color: rgb(255, 255, 255);
        line-height: 2;
        letter-spacing: 1px;
        font-size: 0.8rem;
        margin-top: 12px;
        text-align: left;
        padding: 8px;
    }

    .bigline {
        border: 1px solid #5B5B5B;
    }

    .versionList {
        display: block;
    }

        .versionList .version {
            display: inline-block;
            margin: 0px auto 20px;
            width: 150px;
            height: 60px;
            color: rgb(100, 100, 100);
            border-bottom: 1px solid rgb(43, 43, 43);
            line-height: 60px;
            font-size: 1.1rem;
            cursor: pointer;
        }

    .addselect {
        color: rgb(255, 255, 255) !important;
    }

    .versionList .linebox {
        width: 300px;
        margin-top: -23px;
        margin-bottom: 40px;
        z-index: 300;
    }

        .versionList .linebox .line {
            width: 150px;
            height: 6px;
            background-color: #005AB5;
            z-index: 300;
            transition: all 0.3s ease 0s;
            transform: translateX(0%);
        }

    .screen {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        cursor: pointer;
        margin: 10px 15px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 1px solid transparent;
        display: none;
    }

    .showscreen {
        display: inline-block;
    }

    .screen:hover {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        margin: 10px 15px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 1px solid #005AB5;
        background: #005AB8;
    }

    .DateTimePicker {
    }

    .MoviePicker {
    }

    .VersionPicker {
    }

    .ScreenPicker {
    }

    .ManCount {
    }

    .DateItemSelect {
        background: #FF359A;
        border-color: #FF359A;
        cursor: pointer;
        color: white !important;
    }

    .MovieItemSelect {
        background-color: #2894FF;
        border-radius: 0 !important;
        border-color: #005AB8;
        cursor: pointer;
        filter: contrast(155%);
        padding: 0 !important;
        border-width: 3px;
    }

    .ScreenItemSelect {
        background: #005AB8;
        border-color: #005AB8;
        cursor: pointer;
        color: white !important;
    }
</style>

<div id="preloder">
    <div class="loader"></div>
</div>

<section class="container pt-5 pb-2">
    <div class="text-center pt-2"><h2>@Model.theater.電影院名稱theaterName</h2></div>
    <div class="row pt-2">
        <div class="col-2"></div>
        <div class="col-8 text-center">電話 : <span>@Model.theater.電話phone</span> || 地址 : <span>@Model.theater.地址address</span></div>
        <div class="col-2"></div>
    </div>
</section>

<div class="container pt-5">
    <div class="text-center pt-2"><h2>@Model.movie.電影編號movie.中文標題titleCht</h2></div>
    <div class="text-center pt-2"><h4>@Model.movie.語言編號language.語言名稱languageName</h4></div>
    <div class="row justify-content-center pt-4">
        <button type="button" class="btn btn-secondary btn-sm" id="InfoBtn">電影資訊</button>
    </div>
    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6 MovieInfoBox" id="MovieInfotext">
            <div class="grade">@Model.movie.電影編號movie.電影分級編號rating.分級級數ratingLevel</div>
            <div class="datebox m-auto mt-2">片長:@Model.movie.電影編號movie.片長runtime 上應日期:@Model.movie.電影編號movie.上映日期releaseDate</div>
            <div class="staff d-block p-1">導 演：<span>@delectors</span></div>
            <div class="staff d-block">演 員：<span>@actor</span></div>
            <div class="Infotext d-block">@Model.movie.電影編號movie.劇情大綱plot</div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<br />
<div class="bigline"></div>
<br />



<div id="DatePicker">
    @await Component.InvokeAsync("SelectDate", 2)
</div>

<div id="ScreenPicker">
    @*@await Component.InvokeAsync("SelectScreen")*@
</div>

<div id="SeatCountPicker">
    @await Component.InvokeAsync("SelectSeat")
</div>

<div class="row justify-content-center pt-4 pb-5">
    <button type="button" class="btn btn-primary" id="okbtn">選擇座位</button>
</div>

<form method="post" action="~/Ticketing/SeatMap" id="Sumbitform">
    <input type="hidden" id="ScreenID" name="ScreenID" value="-1" />
    <input type="hidden" id="Count" name="Count" value="-1" />
</form>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    (function ($) {
        $(window).on('load', function () {
            $(".loader").fadeOut();
            $("#preloder").delay(20).fadeOut("slow");
        });
    })(jQuery);

    /*日期選擇*/
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 6,
        centeredSlides: true,
        spaceBetween: 30,
        grabCursor: true,
        navigation: {
            nextEl: "#date-next",
            prevEl: "#date-prev",
        },
    });

    let flag = 1;/*是否開啟資訊欄位*/
    let movement = 0;/*藍線飄移距離*/

    let line = document.getElementById('Blueline');/*那條藍線*/
    let version = document.getElementsByClassName('version'); /*廳種名稱*/
    let datePicker = document.getElementsByClassName('DateTimePicker');/*選擇日期*/
    let screenPicker = document.getElementsByClassName('ScreenPicker');/*選擇場次時間*/
    datePicker[0].classList.add('DateItemSelect')
    const dots = document.getElementsByClassName("round"); /*選人數的點*/

    let count = 0;

    /*藍線移動*/
    for (let item of version) {
        item.addEventListener('click', function () {
            $(event.currentTarget).siblings('.addselect').removeClass('addselect')
            $(event.currentTarget).addClass('addselect')
            let movement = event.currentTarget.getAttribute('data') * 100;
            line.style.transform = `translateX(${movement}%)`;
        })
    }

    AddClickEvent(datePicker, "DateItemSelect");
    AddClickEvent(dots, "select");

    /*選擇日期*/
    $('.DateTimePicker').click(function () {
        let dataValue = event.currentTarget.getAttribute('data');
        findMovie(dataValue);
    });

    /*選擇人數*/
    $('.ManCount').click(function () {
        let count = event.currentTarget.getAttribute('value')
        $('#Count').val(count)
    })

    /*電影資訊按鈕*/
    $('#InfoBtn').click(function () {
        if (flag == 1) {
            $('.MovieInfoBox').addClass('showMovieInfoBox')
        }
        else {
            $('.MovieInfoBox').removeClass('showMovieInfoBox')
        }
        flag = -flag;
    })

    /*透過日期載入場次(日期字串)*/
    async function findMovie(datepara) {
        $("#ScreenPicker").empty();
        let _url = await '@Url.Action("ComponentSelectScreen2", "Ticketing")' + `?data=${datepara}`;
                $.ajax({
                    type: "GET",
                    url: _url,
                    success: function (result) {
                        /*清除並重新載入*/
                        $('#ScreenID').val(-1)
                        $('.VersionPicker').off('click');
                        $('.ScreenPicker').off('click');
                        $("#ScreenPicker").html(result);
                        /*綁定事件*/
                        screenPicker = document.getElementsByClassName('ScreenPicker');
                        version = document.getElementsByClassName('VersionPicker');
                        line = document.getElementById('Blueline');

                        AddClickEvent(screenPicker, "ScreenItemSelect")
                        $('.VersionPicker').click(function () {
                            let currentdata = event.currentTarget.getAttribute('data');
                            screenPicker = document.getElementsByClassName('ScreenPicker')
                            for (let item of screenPicker) {
                                if (item.getAttribute('data') == currentdata) {
                                    $(item).addClass('showscreen')
                                } else {
                                    $(item).removeClass('showscreen')
                                }
                            }
                        })

                        /*載入畫面功能*/
                        version[0].classList.add('addselect')
                        for (let item of version) {
                            item.addEventListener('click', function () {
                                $(event.currentTarget).siblings('.addselect').removeClass('addselect')
                                $(event.currentTarget).addClass('addselect')
                                movement = event.currentTarget.getAttribute('data') * 100;
                                line.style.transform = `translateX(${movement}%)`;
                            })
                        }
                        $('.ScreenPicker').click(function () {
                            let Sid = event.currentTarget.getAttribute('value');
                            $('#ScreenID').val(Sid);
                        })
                    },
                });
    }


    StartUp();

    /*方法初始*/
    function StartUp() {
        findMovie(datePicker[0].getAttribute('data'));

    }

    /*方法 click改變CSS樣式*/
    function AddClickEvent(group, classname) {
        for (let item of group) {
            item.addEventListener('click', function () {
                $(event.currentTarget).siblings(`.${classname}`).removeClass(`${classname}`)
                $(event.currentTarget).addClass(`${classname}`)
            })
        }
    }

    /*確認按鈕*/
    $('#okbtn').click(function () {
        let ScreenID = $('#ScreenID').val();
        let Count = $('#Count').val();
        console.log(Count);
        console.log(ScreenID);
        if (ScreenID == -1 || Count == -1) {
            window.alert("請選擇必要資訊");
        } else {
            $('#Sumbitform').submit();
        }
    })

</script>
