@using ClientMDA.ViewModels
@model List<CTheater>

@{
    ViewData["Title"] = "Default";

 

}

@{


    for (var i = 0; i < 12; i++)
    {
        <a href="@Url.Action("快定頁面測試", "Theater", new { id = Model[i].電影編號movieId })">

            <div class="post-box">

                @{
                    string urlpic = "";
                    if (Model[i].MPimg.Count > 0)
                        urlpic = "https://localhost:44381/images/MovieImage/" + Model[i].MPimg[0];
                    //urlpic =Model[i].MPimg[0];

                    else
                    {
                        urlpic = "../../images/Theater/common/poster.png";
                    }
                        <div class="post" style="background-image: url('@urlpic')"></div>

                }
                <div class="star">
                    <div class="commonStyled__MovieStars-sc-kt5vy-3 ijuViJ ">
                        <div class="star"><i class="fas fa-star" style="padding-right:5px;color:#ffc107"></i></div>
                        <div class="star"><i class="fas fa-star" style="padding-right:5px;color:#ffc107"></i></div>
                        <div class="star"><i class="fas fa-star" style="padding-right:5px;color:#ffc107"></i></div>
                        <div class="star"><i class="fas fa-star" style="padding-right:5px;color:#ffc107"></i></div>
                        <div class="star"><i class="fas fa-star" style="padding-right:5px;color:#ffc107"></i></div>
                    </div>
                </div>

                <div class="title" title="@Model[i].中文標題titleCht">
                    <input type="hidden" value="@Model[i].電影編號movieId" />
                    @Model[i].中文標題titleCht
                </div>
                <div class="en" title="@Model[i].英文標題titleEng">
                    @Model[i].英文標題titleEng

                </div>
                <div class="grade">
                    @Model[i].分級級數ratingLevel
                </div>
            </div>
        </a>

    }


}

<script>
   
</script>

