
@model IEnumerable<ClientMDA.Models.電影評論movieComment>
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "CommentList";
}
@{
    會員member mem = null;
    if (Accessor.HttpContext.Session.Keys.Contains(ClientMDA.Models.CDictionary.SK_LOGINED_USER))
    {
        var a = Accessor.HttpContext.Session.GetString(ClientMDA.Models.CDictionary.SK_LOGINED_USER);
        mem = JsonSerializer.Deserialize<會員member>(a);
    }

}

@section Styles{
    <link href="~/css/Member/MemberMain.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/css/Member/modal.css" rel="stylesheet" />
    <style>
        .white {
            color: white;
        }

        .table-hover tbody tr:hover {
            color: #00b0f0;
            background-color: rgba(0,0,0,.075);
        }
            .table-hover tbody tr:hover a {
                color: #00b0f0;
                background-color: rgba(0,0,0,.075);
                text-decoration: underline;
            }
    </style>
}


<div class="member_id">

    <span class="member_hello">HELLO! </span>
    @{
        if (mem.暱稱nickName != null)
        {
            <span class="member_id_name">@mem.暱稱nickName</span>
        }



    }
</div>
<div class="row">
    <div class="member_menu">
        @{
            if (mem.正式會員formal == true)
            {
                <a id="watchlist" href="../Member/WatchList" title="我的片單" class="member_link">我的片單</a>
                <a id="commentList" href="../Member/CommentList" title="我的評論" class="member_link">我的評論</a>
                <a id="wishlist" href="../Member/wishlist" title="我的追蹤" class="member_link">我的追蹤</a>
            }
            else
            {
                <a id="watchlist" href="../Member/NotFormal" title="我的片單" class="member_link">我的片單</a>
                <a id="commentList" href="../Member/NotFormal" title="我的評論" class="member_link">我的評論</a>
                <a id="wishlist" href="../Member/NotFormal" title="我的追蹤" class="member_link">我的追蹤</a>
            }
        }


        <a id="orderlist" href="../Member/orderlist" title="訂單查詢" class="member_link">訂單查詢</a>
        @*<a id="memberbonuslist" href="../Member/memberbonuslist" title="我的紅利金" class="member_link">我的紅利金</a>*@
        <a id="memberdiscount" href="../Member/memberdiscount" title="我的抵用券" class="member_link">我的抵用券</a>

        <a id="memberpassword" href="../Member/PasswordEdit" title="密碼修改" class="member_link">密碼修改</a>
        <a id="MemberEdit" href="../Member/MemberEdit" title="資料修改" class="member_link ">資料修改</a>
        <a href="../Member/logout" class="member_link" title="登出">登出</a>
    </div>
    <div class="member_main">
        <div class="member_area white">
            <!--content-->
            <h2 class="white">我的評論一覽</h2>
            <button id="buttonAdd" class="site-btn mt-3 mb-3">
                <i class="fa fa-plus"> 撰寫評論</i>
            </button>
            <div class="mb-4">
                @using (Html.BeginForm())
                {
                    @:關鍵字 @Html.TextBox("txtKeyword") <input type="submit" value="查詢" />
                }
            </div>
            <table class="table table-hover white" id="table_result">
                <thead>
                    <tr>
                        <th scope="col">序</th>
                        @*<th scope="col">電影</th>*@
                        <th scope="col">標題</th>
                        <th scope="col">內文</th>
                        <th scope="col">發布時間</th>
                        <th scope="col">編輯</th>
                    </tr>
                </thead>
                <tbody class="white">
                    @{
                        int count = 0;
                        foreach (var comm in Model)
                        {
                            count++;
                            if (comm.評論標題commentTitle == null) { continue; }

                            <tr>
                                <th scope="row" class="">@count</th>
                                @*<td>@comm.電影編號movie.中文標題titleCht</td>*@
                                <td class=""><a href='@Url.Content($"~/comment/電影評論/{comm.評論編號commentId}")'>@comm.評論標題commentTitle</a></td>
                                @{ if (comm.評論內容comments.Length > 50)
                                    {
                                        <td class="">@comm.評論內容comments.Substring(0, 50)...</td>
                                    }
                                    else
                                    {
                                        <td class="">@comm.評論內容comments</td>
                                    }

                                }
                                <td class="">@comm.發佈時間commentTime</td>
                                <td>
                                    @Html.ActionLink("編輯", "CommentEdit", new { id = comm.評論編號commentId }) |
                                    @Html.ActionLink("刪除", "CommentDelete", new { id = comm.評論編號commentId }, new { onclick = "return confirm('確定刪除')" })
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
            <!--end content-->
        </div>
    </div>
</div>


@section Scripts{
    <script>
    const create = document.querySelector("#buttonAdd")

        create.addEventListener("click", () => {

    window.location.assign('@Url.Content("~/member/writecomment")')
    })

    </script>
    @*<script>
            const com = document.querySelectorAll(".commentLink4")

            com.forEach(c=>c.addEventListener("click", () => {
            console.log("check")
            window.location.assign('@Url.Content("~/comment/")'+encodeURI("會員評論"))
            }))

        </script>*@
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
}