@model ClientMDA.ViewModels.CCommentViewModel

    @{
        ViewData["Title"] = "電影評論";
    }

    @section Styles{
        <style>
            .row d-flex justify-content-center {
                margin: 0;
            }

            .mem_rate {
                float: right;
                padding-top: 5px;
            }

            .mem_info {
                float: left;
            }

            .mem_line {
                border: solid 1px white;
            }

            .report:hover {
                background-color: #e53637;
            }

            .img-fluid.rounded-circle {
                height: 30px !important;
                margin: 0 5px 0 0;
            }

            .report:hover {
                background-color: #e53637 !important;
            }

            .unLike:hover {
                background-color: #F5AB00 !important;
            }

            .blog__details__btns {
                margin-bottom: 10px;
            }
        </style>
    }

    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h2>@Model.中文標題titleCht</h2>
                        <h3>@Model.評論標題commentTitle</h3><hr class="mem_line" />
                        <h6>
                            <span class="mem_info">
                                <span style="color:white">
                                    @if (Model.會員照片image != null)
                                    {
                                        <img class="img-fluid rounded-circle" src="https://localhost:44381/images/Member/@Model.會員照片image" alt="">
                                    }
                                    else
                                    {
                                        <img class="img-fluid rounded-circle" src="~/images/Member/MEMBER.png" alt="">
                                    }
                                    <a @Url.Action("會員評論","Comment", new {id= Model.會員編號memberId})>@Model.暱稱nickName</a>
                                </span>
                                @if (Model.觀影方式source != null)
                                {
                                    <span> - @Html.DisplayFor(modelItem => Model.觀影日期viewingTime) 於<span style="color:white"> @Model.觀影方式source</span> 觀看</span>
                                }
                                else
                                {
                                    <span> - @Html.DisplayFor(modelItem => Model.觀影日期viewingTime) 觀看</span>
                                }
                            </span>
                            <span class="mem_rate" style="color: #ffc107;">
                                <i class="fa fa-star"></i> @Model.評分rate 分
                            </span>
                        </h6>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__pic">
                        <img src="https://localhost:44381/images/Comment/@Model.cImgFrList" alt="">
                        @Model.cImgFrList
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p>
                                @*@Model.評論內容comments*@
                                @Html.Raw(Model.評論內容comments)
                            </p>
                        </div>
                        <div class="blog__details__tags">
                            <a href="#">#神片</a>
                            <a href="#">#主角好帥</a>
                            <a href="#">#IMAX</a>

                            <div class="blog__details__comment__item__text" style="float:right">
                                <a href="#">Like <i class="fas fa-thumbs-up"></i></a>
                                <a class="unLike" href="#">UnLike <i class="fas fa-thumbs-down"></i></a>
                                <a class="report" href="#">檢舉</a>
                            </div>
                        </div>

                        <div style="margin: 10px 0 10px 0; border: solid 1px rgba(0,0,0,0)">
                            <span class="mem_info">
                                <span style="color:white">發佈時間</span>
                                <span> - @Html.DisplayFor(modelItem => Model.發佈時間commentTime)</span>
                            </span>
                        </div>



                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item">
                                        <h5>
                                            <a href="#"><span class="arrow_left"></span> 上一篇評論 </a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="blog__details__btns__item next__btn">
                                        <h5>
                                            <a href="#">下一篇評論 <span class="arrow_right"></span></a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog__details__social" style="float:right">
                            <a href="#" class="facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
                            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i> Pinterest</a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin-square"></i> Linkedin</a>
                            <a href="#" class="twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
                        </div><hr />

                        <div class="blog__details__comment">
                            <h4>3則留言</h4>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/blog/details/comment-1.png" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <span>Sep 08, 2020</span>
                                    <h5>John Smith</h5>
                                    <p>
                                        你寫的評論真棒!
                                    </p>
                                    <a href="#">Like <i class="fas fa-thumbs-up"></i></a>
                                    <a class="unLike" href="#">UnLike <i class="fas fa-thumbs-down"></i></a>
                                    <a class="report" href="#">檢舉</a>
                                </div>
                            </div>
                            <div class="blog__details__comment__item blog__details__comment__item--reply">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/blog/details/comment-2.png" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <span>Sep 08, 2020</span>
                                    <h5>佩佩</h5>
                                    <p>
                                        推薦4DX 效果真D讚 必看一次
                                    </p>
                                    <a href="#">Like <i class="fas fa-thumbs-up"></i></a>
                                    <a class="unLike" href="#">UnLike <i class="fas fa-thumbs-down"></i></a>
                                    <a class="report" href="#">檢舉</a>
                                </div>
                            </div>
                            <div class="blog__details__comment__item">
                                <div class="blog__details__comment__item__pic">
                                    <img src="img/blog/details/comment-3.png" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <span>Sep 08, 2020</span>
                                    <h5>Adrian Coleman</h5>
                                    <p>
                                        我三刷了!!! 內牛滿麵
                                    </p>
                                    <a href="#">Like <i class="fas fa-thumbs-up"></i></a>
                                    <a class="unLike" href="#">UnLike <i class="fas fa-thumbs-down"></i></a>
                                    <a class="report" href="#">檢舉</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__form">
                            <h4>你的留言</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <input type="text" placeholder="Name" style="max-width:none">
                                    </div>
                                    @*<div class="col-lg-6 col-md-6 col-sm-6">
                                            <input type="text" placeholder="Email">
                                        </div>*@
                                <div class="col-lg-12">
                                    <textarea placeholder="Message" style="max-width:none"></textarea>
                                    <button type="submit" class="site-btn">送出</button>
                                    @*<a href="@Url.Action("WriteComment","member")>送出</a>*@

                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>