@model List<ClientMDA.ViewModels.CCommentViewModel>
@{
    ViewData["Title"] = "Default"; @*關注評論*@
}

@{
    for (var i = 0; i < Model.Count; i++)
    {
        string urlpic = "";
        if (Model[i].cImgFrList.Count() > 0)
        {
            //urlpic = Model[i].cImgFrList[0];
            urlpic = "https://localhost:44381/images/Comment/" + Model[i].cImgFrList[0];
        }
        <div class="card mb-3" style="max-width: 540px;">
            @*overflow:hidden*@
            <div class="row g-0">
                <div class="col-md-4 set-bg" data-setbg="@urlpic" style="background-image:src('@urlpic');height:220px">
                    @*<img src="@urlpic" class="img-fluid rounded-start" alt="...">*@
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => Model[i].評論標題commentTitle)</h5>
                        <span class="mem_info">
                            <span>
                                <img src="~/images/Comment/mem01.png" alt="" height="30">
                                <a href=@Url.Action("會員評論","Comment", new {id= Model[i].會員編號memberId})>@Html.DisplayFor(modelItem => Model[i].暱稱nickName)</a>
                            </span>
                            <span>
                                - @Html.DisplayFor(modelItem => Model[i].發佈時間floorTime) <span style="color:white"></span>
                            </span><hr />
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => Model[i].評論內容comments)
                            </p>
                            <a href=@Url.Action("電影評論","Comment", new {id= Model[i].評論編號commentId})><p class="card-text"><small class="text-muted">詳全文 >> </small></p></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
</script>